<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groceries Index</title>
  </head>
  <body>
    <h1>All Groceries</h1>
  </body>
</html>

    <ul>
      <% groceries.forEach(item => { %>
        <li><%= item.name %></li>
      <% }); %>
    </ul>
  </body>
  
<a href="/groceries/new">Add New Item</a>
