<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groceries App</title>
  </head>
  <body>
    <h1>Welcome to the Groceries app!</h1>
    <p>An app for Grouthrees Market.</p>
  </body>
</html>

<a href="/fruits">Browse Groceries</a>
