<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new grocery item!</title>
  </head>
  <body>
    <h1>New item goes here...</h1>
  </body>

    <form action="/groceries" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isReadyToBuy">Ready to Buy?</label>
      <input type="checkbox" name="isReadyToBuy" id="isReadyToBuy" />
  
      <button type="submit">Add Grocery Item?</button>
    </form>
  </body>
  
<a href="/fruits/">Back to Fruits</a>
